.articleCard {
    background-color: beige;
    display: flex;
    flex-direction: row;
    border-radius: 0.6rem;
    padding: 0.6rem;
    gap: 5rem;
    min-width: 0px;
    flex-shrink: 0; 
     
    
}

.articleCard > img {
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
       
}

.articleCard > h3 {
    color: #04111f;
    display: flex;
    align-items: top;
    justify-content: center;
    
   
    
}

.articleCard > div {
    
    padding: 0.2rem;
    
}


.articleCard > ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    
    
}