.articleCard {
    max-width: 100%;
    height: 200px;
    background-color: rgb(104, 104, 59);
    display: flex;
    border-radius: 0.6rem;
    padding: 0.6rem;
    min-width: 0px;
    flex-shrink: 0; 
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    
}

.articleCard > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    justify-content: center;
    
    
}

.image {
    display: block;
    width: 250px;
    max-width: 100%;    
    height: auto;
    flex-shrink: 0;
    padding: 0.5rem;
    justify-content: right;
    align-items: right;
}

.articleCard > section > h3 {
    color: #04111f;
    display: flex;
    flex-direction: row;
    min-width: 500px;
    justify-content: center;
    align-items: flex-start;
}

.articleCard > div {
    
    padding: 0.2rem;
    
}


.bottomRow {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-self: self-end;
}