#commentForm {
    background-color: rgba(209, 34, 34, 0.6);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

#userComment {
    vertical-align: text-top;
    border-radius: 4px;
    background-color: rgb(209, 206, 206);
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    
}

.submitButton {
  width: 140px;
  height: 28px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.4rem 0.6rem;
  background: rgba(237, 234, 53, 0.6);
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0.75;
  outline-offset: -4px;
  outline: solid 2.3px rgba(50, 50, 50, 1);
  color: rgba(50, 50, 50, 1);
  font-weight: bold;
  
}

.submitButton:hover {
  opacity: 2;
}

.submitButton:disabled {
  opacity: 2;
}

