.topicTab {
    background-color: rgba(50, 110, 26, 1);
    list-style: none;
    display: flex;
    border-radius: 0.6rem;
    padding: 2rem;
    min-width: 0px;
    flex-shrink: 0;
    border: 3px solid rgba(1,104,59,0.6);
    box-shadow: 1.5px 1.5px 10px 0px rgba(1,1,1,0.5);
    font-size: 22px;

     &:hover {
    transform: scale(1.04);
    border-color: rgba(19,104,59,0.6);
  }

}

.active-tab {
    background-color: rgba(50, 100, 226, 1);

}