main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topic-highlight {
    background-color: rgba(50, 110, 26, 0.4);
    border-radius: 0.6rem;
    padding: 0.2rem;
    width: 5rem;
    flex-shrink: 0;
    border: 3px solid rgba(1,104,59,0.1);
    text-align: center;
    justify-content: flex-start;
}