header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  height: 150px;
  background-color: rgb(199, 187, 18);
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 15px 5px rgba(254, 254, 254, 0.15);
  position: sticky;
  top: 1.2rem;
  z-index: 1;

  span {
    background-color: rgb(134, 142, 149);
    border-radius: 4px;
  }

}

#mainHeader {
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;    
  }

  .homePage {
    font-size: x-small;
    border-radius: 4px;
    padding: .4rem;
    background-color: aqua;
    border: 3px solid rgba(1,104,59,0.6);
    box-shadow: 1.5px 1.5px 10px 0px rgba(1,1,1,0.5);

    &:hover{
      transform: scale(1.05);
    }
  }