header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: inherit;
  background-color: rgba(71, 23, 148, 0.6);
  padding: 1rem;
  border-radius: 0.8rem;
  /* border: solid 0.2rem rgba(27, 25, 25, 0.2); */
  box-shadow: 0 0 15px 5px rgba(254, 254, 254, 0.15);
}
