.articleFeed {
    list-style: none;
    padding: 1rem;
    border-radius: 0.8rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 96, 230, 0.7);
    min-width: 0;
    flex-shrink: 0;
}