#topicsBar {
    background-color: rgba(255, 255, 100, 1);
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 0.6rem;
    padding: .6rem;
    width: 94vw;
    flex-shrink: 0; 
    position: sticky;
  top: 11.6rem;
  z-index: 1;
}