.commentCard {
    max-width: 100%;
    height: 150px;
    background-color: beige;
    display: flex;
    border-radius: 0.6rem;
    padding: 0.6rem;
    min-width: 0px;
    flex-shrink: 0; 
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
        
}