.commentCard {
    max-width: 100%;
    height: 150px;
    background-color: rgb(112, 112, 54);
    display: flex;
    border-radius: 0.6rem;
    padding: 0.6rem;
    min-width: 0px;
    flex-shrink: 0; 
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
        
}

.deleteButton {
  height: 3.1rem;
  width: 6.6rem;
  padding: 0.4rem 1rem;
  background: rgba(205, 10, 10, 0.6);
  border: 2px solid rgba(1,1,1,0.5);
  box-shadow: 0.5px 0.5px 2px 0px rgba(1,1,1,0.3);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;

&:hover {
  background: rgba(255, 10, 10, 0.8);
  font-weight: bold;
  transform: scale(1.001);
    border: 2px solid rgba(1,1,1,0.8);
    box-shadow: 0.1px 0.1px 2px 0px rgba(1,1,1,0.8);
}

}